@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
 }

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('background_pic2.jpg');
    background-size: cover;
    background-position: center;
}

.container{
    position: relative;
    width: 400px;
    height: 555px;
    background: rgba(255, 255, 255. .1);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255. .2);
    border-radius: 16px;
    padding: 20px;
    color: white;

}

.search-box{
    position: relative;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
}

.search-box i{
    position: absolute;
    left: 10px;
    font-size: 28px;
}

.search-box input{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255. .2);
    outline: none;
    border-radius: 10px;
    font-size: 19px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 48px 0 42px;
    text-align: left;
}


.search-box::placeholder {
    color: white;
    text-transform: capitalize;
}

.search-box button{
    position: absolute;
    right: 0;
    width: 40px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    color: white;
    padding: 0 40px 0 5px;
    cursor: pointer;
}

.weather-box {
    text-align: center;
    margin: 40px 0;
}

.weather-box img{
    width: 50%;
}

.weather-box .temperature {
    position: relative;
    font-size: 68px;
    line-height: 1;
    font-weight: 700;
    margin: 20px 0 6px -30px;
}

.weather-box .temperature span{
    position: absolute;
    font-size: 24px;
    margin-left: 4px;
}

.weather-box .description{
    font-size: 22px;
    font-weight: 490;
    text-transform: capitalize;
}

.weather-details {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    padding: 0 20px;
    display: flex;
}

.weather-details .humidity,
.weather-details .wind{
    display: flex;
    align-items: center;
    width: 50%;
}

.weather-details .humidity {
    padding-left: 20px;
    justify-content: flex-start;
}

.weather-details .wind {
    padding-right: 20px;
    justify-content: flex-end;
}

.weather-details i {
    font-size: 56px;
    margin-right: 10px;
}

.weather-details span{
    display: inline-block;
    font-size: 22px;
    font-weight: 500;
}

.weather-details p {
    font-size: 14px;
    font-weight: 400;
}

